name: Build solutions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Set up Go 1.24.3
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - name: Install Go dependencies
        run: cd src/main/go && go get .
      - name: Setup Z3
        id: z3
        uses: cda-tum/setup-z3@v1
        with:
          add_to_library_path: true
      - name: Test with Maven
        run: mvn test --file pom.xml
      - name: Test with Go
        run: cd src/main/go && go test -v ./... 
